
<div class="container card" style="width: 18rem;">
    <img src="{{recipes.0.image}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{recipes.0.title}}</h5>
        <p class="card-text">{{recipes.0.summary}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
