<section class="container">
    <h1>Bienvenido a tu perfil!</h1>
    <div class="row">
        <div class="col-6">

            {{#each urProfileRestaurant}}
            <a href="/publicacion/tu-perfil/restaurantes/detalles/{{id}}">
                <img class="img-profile" src="{{image}}" alt="imagen">
            </a>
            {{/each}}
        </div>
        <div class="col-6">
            {{#each urProfileRecipes}}
            <a href="/publicacion/tu-perfil/recetas/detalles/{{id}}">
                <img class="img-profile" src="{{image}}" alt="imagen">
            </a>
            {{/each}}

        </div>

    </div>

</section>