body {
  font-family: sans-serif;
  font-weight: 200;
}
<<<<<<< HEAD


=======
.navbar {
  margin-bottom: 50px;
}
>>>>>>> a745f70ea2bdbdbe3f8229efd3dace9fbbed638a
#error {
  background-color: rgb(255, 90, 90);
  color: white;
  text-align: center;
  padding: 10px 20px;
  width: 100%;
  margin-top: 20px;
}
.index-img img{
  width: 100%;
}
h2{
  font-size: 14px;
}
a{
  text-decoration: none;
  color: black;
}

section{
  margin-top: 0px;
}
.profile-img{
  width: 100%;
 
}
ul.tabs{
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: space-around;
  background: #000000;
  color: white;
  padding: 20px;
}
.active{
  background: #0984cc;
}
.add-form-section{
  display: flex;
  justify-content: center;
  background-color: rgb(5, 214, 204);
}
.wings-img{
  height: 70%;
  padding: 20px;
  margin-top: 0px;
}

.bottom-img{
  height: 60%;
  margin-top: 10px;
}

.big-img{
  height: 500px;
}
 .small-img{
  height: 200px;
  margin-top: 20px;
 }
 .box2{
   margin-top: 50px;
   margin-bottom: 50px;
 }

 .title h3 {
   display: flex;
   justify-content: center;
   text-align: center;
 }
img{
  width: 100%;
}
.img-profile{
  width: 200px;
  height: 200px;
}
.menu{
  display: flex;
  flex-direction: row;
}
.footer-links{
<<<<<<< HEAD
  margin-top: 100px;
}

.box1 img {
  height: 200px;
  object-fit: cover;
}

.alitas {
  object-fit: cover;
}

nav {
  background-color: brown;
}

nav img {
  width: 10%;
}

nav li {
  display: inline;
  padding-left: 50px;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
}

.ddm a {
  color: black;
=======
  margin-top: 500px;
  background: rgb(111, 192, 111);
}
.footer-links li{
  list-style: none;
  padding-top: 10px;
  margin-top: 20px;
}
.buttons{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
#restarants-map {
  height: 60vh;
  margin: 0;
  margin-top: 150px;
}
#route {
    background-color: white;
    position: absolute;
    left: 150px;
    height: 60vh;
    width: 75vw;
    padding: 20px;
    overflow-y: scroll;
    margin-bottom: 1000px;
    text-align: center;
}
.detail-image{
  width: 300px;
  
}
.card li{
  list-style: none;
>>>>>>> a745f70ea2bdbdbe3f8229efd3dace9fbbed638a
}