<select class="custom-select custom-select-lg mb-3">
    <option selected>selecciona un tipo de cocina</option>
    <option value="1">Spanish</option>
    <option value="2">Italian</option>
    <option value="3">Japanese</option>
</select>